.dataset-info {
    border-left: 4px solid #677E67;
}

.dataset-info:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid #44613a;
}


/* Pagination config*/

.paginator ::ng-deep .ngx-pagination .current {
    background: #44613a;
    border-radius: 4px;
    padding-left: 9px;
    padding-right: 9px;
}

.paginator ::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #d4edda;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

.paginator ::ng-deep .ngx-pagination a:focus,
.ngx-pagination button:focus {
    outline: none;
    background: #d4edda;
}