.attribute-link {
    color: #677E67;
    font-weight: bold;
}

.card-body {
    background-color: #ffff;
}

.column-center {
    text-align: center;
}

.form-group {
    background: #ffff;
}

.form-row {
    background: #ffff;
}

thead th {
    background-color: #44613a;
    color: white;
}


/* Pagination config*/

.paginator ::ng-deep .ngx-pagination .current {
    background: #44613a;
    border-radius: 4px;
    padding-left: 9px;
    padding-right: 9px;
}

.paginator ::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #d4edda;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

.paginator ::ng-deep .ngx-pagination a:focus,
.ngx-pagination button:focus {
    outline: none;
    background: #d4edda;
}